{% if is_paginated %}
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page=1">1</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link {% if not page_obj.has_previous %} disabled {% endif %}"
                        {% if page_obj.has_previous %}
                   href="{{ request.path }}?page={{ page_obj.previous_page_number }}" {% endif %}
                >Предыдущая</a>
            </li>

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="#" aria-current="page">{{ page_obj.number }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link {% if not page_obj.has_next %} disabled {% endif %}"
                        {% if page_obj.has_next %}
                   href="{{ request.path }}?page={{ page_obj.next_page_number }}" {% endif %}
                >Следующая</a>
            </li>

            <li class="page-item">
                <a class="page-link {% if not page_obj.has_next %} disabled {% endif %}"
                        {% if page_obj.has_next %}
                   href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}" {% endif %}
                >{{ page_obj.paginator.num_pages }}</a>
            </li>

        </ul>
    </nav>
{% endif %}
